<div>
  <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
      </button>
      <span>Rick & Morty App</span>
      <span class="example-spacer"></span>
      <h3>Joaquin Pastore Barrios</h3>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
      </button>
  </mat-toolbar>
</div>

<nav class="nav-components">
  <button mat-raised-button color="primary" routerLink="/character">Characters</button>
  <button mat-raised-button color="primary" routerLink="/episode">Episodes</button>
  <button mat-raised-button color="primary" routerLink="/location">Locations</button>
</nav>

<router-outlet></router-outlet>
  
